html {
	font-family: 'Raleway', sans-serif;
}

body::selection {
	color: red;
}

#mountains {
	margin: 0;
	background-image: url(../img/holm.jpg);
	background-size: 120%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#mountainsHeader {
	/*background: linear-gradient(to right, #e6dada, #274046);*/
	 /*background: linear-gradient(to left, #403b4a, #e7e9bb);*/
	 background: linear-gradient(to right, #bbd2c5, #536976);
	text-align: center;
	height: 5rem;
	line-height: 5rem;
}

.header .first_list {
	list-style-type: none;
	vertical-align: middle;
	margin-top: 0px;
	padding-left: 0px;
	margin-left: 4.3125rem;
}

.header .main_li {
	border-radius: 14px;
	display: inline;
	margin: 1.875rem;
	font-size: 14pt;
	padding: 0.625rem;
	transition: background 0.3s linear;
	color: #3A2B2E;
	background-color: rgba(0, 0, 0, 0.025);
}

#spn {
	border-radius: 20px;
	display: inline;
	margin: 1.875rem;
	font-size: 18pt;
	padding: 0.625rem;
	transition: background 0.3s linear;

}

.header .main_li:hover {
	border-radius: 15px;
	background: #F3F3F3;
}

.header .main_li::selection {
	color: red;
}

.main_li b::selection {
	color: red;
}

.cont {
	width: 65%;
	float: right;
}

.footer {
	background-color: rgba(0, 0, 0, 0.01);
	height: 5vh;
	width: 100%;
}

.by {
	position: fixed;
	top: 97vh;
	font-size: 10pt;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: #262626;
	text-decoration: none;
}

.mountContent a:link {
	color: blue;
}

.mountContent a:visited {
	color: #020068;
}

.text {
	font-size: 12pt;
}

.mountInfo {
	width: 90%;
	height: 84.5vh;
	box-shadow: 0px 10px 12.5px 1px #082253;
	background-color: white;
	/*background-image: url(../img/altaj.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0px 0px 10px 10px;
}

.Img1 {
	width: 75%;
	height: 65%;
	float: right;
	z-index: 0;
}

.Img2 {
	width: 30%;
	height: 40%;
	float: left;
	z-index: 1;
	top: 54.5%;
	position: absolute;
	border-radius: 0px 10px 0px 10px;
}

.mountContent {
	background-color: white;
	width: 25%;
	float: left;
	height: 83.6vh;
	box-shadow: 0px 10px 12.5px 1px #082253;
	margin-left: 5%;
	position: fixed;
	padding: 0.625rem;
	padding-top: 0px;
	border-radius: 7px 7px 7px 7px;
}

/*Выпадающее менею*/
ul.first_list li ul{
	display: none;
}

ul.first_list li:hover ul.hover_ul {
	display: block;
	position: absolute;
	top: 3.9rem;
	left: 33.1%;
	border-radius: 10px;
	background-color: rgba(100, 100, 225, 0.9);	
	z-index: 1000;
}

ul.first_list li:hover ul.strange_ul {
	display: block;
	position: absolute;
	top: 3.9rem;
	left: 35.31%;
	border-radius: 10px;
	background-color: rgba(100, 100, 225, 0.9);	
	z-index: 1000;
}


.hover_li {
	list-style: none;
	border-radius: 14px;
	margin: 0.625rem;
	padding: 0.375rem;
	transition: background 0.3s linear;
	color: #3A2B2E;
}

.hover_li:hover {
	background: #F3F3F3;
	border-radius: 15px;
	margin: 0.625rem;
	padding: 0.375rem;
}

.hover_ul {
	padding: 0.625rem;
}

.strange_ul {
	padding: 0.625rem;
}