html {
	font-family: 'Raleway', sans-serif;
}

body::selection {
	color: red;
}

#main_p {
	margin: 0;
	background-color: white;
}

#indexHeader {
	/*background: linear-gradient(to left, #ece9e6, #ffffff);*/
	background: radial-gradient(#ffffff, #ece9e6);
	height: 5rem;
	text-align: center;
	line-height: 5rem;
	width: 100%;
}

.indexHeader .first_list{
	list-style-type: none;
	vertical-align: middle;
	margin-top: 0px;
	padding-left: 0px;
	margin-left: 0px;
	width: 10rem;
}

.second_list {
	list-style-type: none;
	vertical-align: middle;
	margin-top: 0px;
	padding-left: 0px;
}

.indexHeader .main_li{
	border-radius: 14px;
	/*display: inline;*/
	margin-top: 0.9375px;
	font-size: 14pt;
	padding: 0.625rem;
	width: 10.7rem;
	transition: background 0.3s linear;
	color: #3A2B2E;
	background-color: rgba(0, 0, 0, 0.025);
	/*box-shadow: 2px 1px 2px 1px black;*/
}

.hideLi {
	/*display: inline;*/
	margin: 1.875rem;
	font-size: 14pt;
	padding: 0.625rem;
}

#spn {
	border-radius: 20px;
	display: inline;
	margin: 1.875rem;
	font-size: 18pt;
	padding: 0.625rem;
	transition: background 0.3s linear;
	text-shadow: 0px 0px 2px 5px black;
}

.indexHeader .main_li:hover {
	border-radius: 0.9375rem;
	background: black;
	color: white;
}

.indexHeader .main_li::selection {
	color: red;
}

.main_li b::selection {
	color: red;
}


.indexCont {
	margin: 0 auto;
	max-width: 67.5rem;
}

.indexInfo {
	width: 100%;
	height: 82.9vh;
	box-shadow: 0px 10px 12.5px 1px #1F1F1F;
	background-color: white;
	padding: 2vh;
	padding-bottom: 0vh;
	border-radius: 0px 0px 10px 10px;
}

.footer {
	background-color: rgba(0, 0, 0, 0.01);
	height: 5vh;
	width: 100%;
}

.by {
	position: fixed;
	top: 97vh;
	font-size: 10pt;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: #262626;
	text-decoration: none;
}

.indexHeader a:visited {
	color: inherit;
}

.indexHeader a:link {
	color: inherit;
	text-decoration: none;
}

.indexInfo h1 {
	text-align: center;
	margin-top: 0;
}

.MainText {
	font-size: 17pt;
}

.text {
	font-size: 12pt;
}

/*Выпадающее меню*/
ul.first_list li ul{
	display: none;
}

ul.first_list li:hover ul {
	/*display: inline;*/
	display: block;
	position: absolute;
	top: 4.6875rem;
	border-radius: 0px 7px 7px 0px;
	/*background-color: rgba(225, 225, 225, 0.9);*/
	background: linear-gradient(to right, #EDEDED, #D9D9D9);
	opacity: 98%;
	z-index: 1000;
	padding: 0px;
	/*box-shadow: 2px 0px 1px 1px black;*/
	box-shadow: 2px 0px 5px 1px #1F1F1F;
}

ul.second_list li.main_li ul.vert_ul_Beach {
	display: none;
	position: absolute;
	left: 12rem;
	padding-left: 0; 
	top: 1rem;
	list-style: none;
	width: 29.8125rem;
}

ul.second_list li.main_li ul.vert_ul_Mount {
	display: none;
	position: absolute;
	left: 12rem;
	padding-left: 0; 
	top: 7.2rem;
	list-style: none;
	width: 20rem;
}

ul.second_list li.main_li ul.vert_ul_Forest {
	display: none;
	position: absolute;
	left: 12rem;
	padding-left: 0; 
	top: 13.4rem;
	list-style: none;
	width: 15rem;
}

ul.second_list li.main_li ul.vert_ul_Lakes {
	display: none;
	position: absolute;
	left: 12rem;
	padding-left: 0; 
	top: 19.6rem;
	list-style: none;
	width: 20rem;
}

ul.second_list li.main_li:hover ul {
	display: block;
}

ul.second_list li.main_li:hover ul li.vert_li {
	border-radius: 14px;
	transition: background 0.1s linear;
	color: #3A2B2E;
	background-color: rgba(0, 0, 0, 0.025);
}

ul.second_list li.main_li ul li.vert_li:hover {
	border-radius: 15px;
	background: black;
	color: white;
}
/**/

.TeSh {
	text-shadow: 0px 0px 1px black;
}

.ShLe {
	text-shadow: -1px 0px 1px black;
}

.ShRi {
	text-shadow: 1px 0px 1px black;
}

.icon {
	position: absolute;
	/*top: 3.8%;*/
	top: 2.2rem;
	left: 0;
}